<ng-container *ngIf="userLogin">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="d-flex justify-content-between">
      <div class="d-flex">
        <h6>ToDo Me</h6>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <h1 class="hide-on-mobile">Arif Hoque Sarkar</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="d-flex">
    <mat-sidenav #sidenav opened="true" mode="side">
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/product">Product</a>
      <a mat-list-item routerLink="/product">All Product Details</a>
      <a mat-list-item routerLink="/product">Account</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>


<ng-container *ngIf="show" >
  <button (click)="getHome()"> home</button>
</ng-container>
